body {
    background: linear-gradient(to right, #2a415e, #072d33);
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    opacity: 0;
    transition: opacity 0.5s ease-in; /* Add transition for height */
}

.card {
    border: 1px solid #444;
    height: auto;
    overflow: hidden; /* Ensure content doesn't overflow */
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: rgb(33, 40, 45) !important;
}

.card-body {
    padding: 0;
}
.card-header {
    border-bottom: 1px solid #444;
    background-color: #1c1e21;
}

.table-responsive table {
    background-color: rgb(33, 40, 45);
}

.table th, .table td {
    vertical-align: middle;
}

.table thead th {
    background-color: #444;
    color: #ffcc00;
    font-weight: bold;
}

.table-hover tbody tr:hover {
    background-color: #555;
}


.table-dark th, .table-dark td {
    color: #fff;
}

.table td.username {
    text-transform: capitalize;
}

.table-dark thead th {
    color: #ffcc00;
    background-color: #444;
    border-color: #555;
}

.table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: #555;
}

.flag-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    margin-inline: 5px;
}

.flag-container {
    display: flex;
    align-items: center;
}

.game-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px; /* Adjust as needed */
    font-size: 14px; /* Adjust font size as needed */
}

.team {
    display: flex;
    align-items: center;
}

.team + .team {
    margin-left: 10px;
}

.result {
    margin: 0 10px;
}

.datetime {
    text-align: center;
    font-size: 12px; /* Adjust font size as needed */
    margin-bottom: 10px; /* Adjust as needed */
}

#betsTable tr:nth-child(2) {
    background-color: #ffcc00; /* First place: Gold */
}

#betsTable tr:nth-child(2) td {
    color: #000; /* Black text */
}

#betsTable tr:nth-child(3) {
    background-color: #c0c0c0; /* Second place: Silver */
}

#betsTable tr:nth-child(3) td {
    color: #000; /* Black text */
}

#betsTable tr:nth-child(4) {
    background-color: #cd7f32; /* Third place: Bronze */
}

#betsTable tr:nth-child(4) td {
    color: #000; /* Black text */
}

#betsTable tr:nth-child(5) {
    background-color: #4caf50; /* Fourth place: Green */
}

#betsTable tr:nth-child(5) td {
    color: #000; /* Black text */
}

#betsTable tr:nth-child(6) {
    background-color: #2196f3; /* Fifth place: Blue */
}

#betsTable tr:nth-child(6) td {
    color: #000; /* Black text */
}

/* Responsive Design */
@media (max-width: 768px) {
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .table th, .table td {
        white-space: nowrap;
    }

    .card-header {
        font-size: 1.5em;
        padding: 10px;
    }

    #betsTable th:nth-child(1),
    #betsTable td:nth-child(1) {
        max-width: 88px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #betsTable th:nth-child(2),
    #betsTable td:nth-child(2) {
        max-width: 170px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .game-info {
        font-size: 16px; /* Adjust font size as needed for mobile */
    }

    .flag-icon {
        width: 20px;
        height: 20px;
        margin-inline: 2px;
    }

    .team + .team {
        margin-left: 5px;
    }

    .result {
        margin: 0 5px;
    }

    .datetime {
        font-size: 10px; /* Adjust font size as needed for mobile */
        margin-top: 5px;
    }
}
